body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
}

#twitch-embed {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  aspect-ratio: 16 / 9;
  width: 33vw;
}

#twitch-embed.lights-off {
  top: 0;
  bottom: 0;
  z-index: 999;
  right: 0;
  left: 0;
  width: 100vw;
  max-height: 100vh;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

#twitch-embed p {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 100%;
  animation: marquee 10s linear infinite;
}

#twitch-embed.lights-off p {
  font-size: 3rem;
}

#twitch-embed.lights-off p::before {
  content: 'Lights Out! - ';
}

.alert-ticker {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 0, 0, 1);
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 8px;
}

#twitch-embed.lights-off .alert-ticker {
  position: relative;
}

iframe {
  width: 100%;
  height: 100%;
}

.online {
  display: flex !important;
  flex-direction: column;
}

h1 {
  text-transform: uppercase;
  font-size: 3.5rem;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
  color: #fff;
}

.info-container {
  max-width: 50vw;
  position: fixed;
  top: 0;
  left: 0;
  padding: 16px;
}

#lights-out {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}

#lights-out.active {
  display: block;
}

#lights-out h1 {
  font-size: 5.5rem;
}

#lights-out p {
  font-weight: 700;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
  color: #fff;
  font-size: 2.5rem;
}